body {
  background: linear-gradient(45deg, #f5f7fa, #c3cfe2);
  background-attachment: fixed;
}

/* Стили для основного блока кредитного калькулятора */

.loan-calc {
  /* Занимает всю доступную высоту и ширину */
  width: 100%;
  height: 100%;
  /* Выравнивание по центру по вертикали */
  display: flex;
  align-items: center;
}

/* Стили для контейнера кредитного калькулятора */

.loan-calc__container {
  /* Выравнивание по центру по горизонтали */
  display: flex;
  justify-content: center;
}

/* Стили для формы кредитного калькулятора */

.loan-calc__form {
  /* Занимает всю доступную ширину, но не более 800px */
  width: 100%;
  max-width: 800px;
  /* Фон формы */
  background-color: #fff;
  /* Скругление углов формы */
  border-radius: 10px;
  /* Скрытие содержимого, выходящего за границы */
  overflow: hidden;
  /* Тень */
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.05);
}

/* Стили для верхней части формы */

.loan-calc__top {
  /* Градиентный фон */
  background: linear-gradient(45deg, #3d9b40, #25bf2a);
  /* Цвет текста */
  color: #fff;
}

/* Стили для заголовка калькулятора */

.loan-calc__title {
  /* Отступы и размер шрифта */
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 500;
}

/* Стили для полей ввода */

.loan-calc__fields {
  /* Отображение в виде строки */
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

/* Стили для каждого поля ввода */

.loan-calc__input {
  /* Отображение в виде столбца */
  display: flex;
  flex-direction: column;
  /* Равномерное распределение по горизонтали */
  flex: 1 0 auto;
}

/* Стили для меток полей ввода */

.loan-calc__input label {
  /* Размер текста и отступ снизу */
  font-size: 15px;
  margin-bottom: 10px;
}

/* Стили для вводимых данных */

.loan-calc__input input {
  /* Занимает всю доступную ширину, но не более 200px */
  width: 100%;
  max-width: 200px;
  /* Фон и цвет текста */
  background-color: #fff;
  color: #111;
  /* Отступы и размер текста */
  padding: 10px;
  padding-left: 20px;
  font-size: 20px;
  /* Убираем границу */
  border: none;
}

/* Стили для нижней части формы */

.loan-calc__bottom {
  /* Отображение в виде строки */
  display: flex;
}

/* Стили для блока с графиком */

.loan-calc__chart {
  /* Фиксированная ширина */
  flex: 0 0 400px;
  /* Отступы */
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

/* Стили для информационных блоков с результатами расчета */

.loan-calc__info {
  /* Равномерное распределение по горизонтали */
  flex: 1 0 auto;
  /* Отступы */
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 50px;
  padding-right: 50px;
}

/* Стили для каждого информационного блока */

.loan-calc__out {
  /* Отображение в виде столбца */
  display: flex;
  flex-direction: column;
  /* Отступ снизу и граница снизу */
  margin-bottom: 20px;
  border-bottom: 1px solid #dadada;
  /* Отступ снизу для последнего блока */
  padding-bottom: 10px;
}

/* Стили для единицы измерения после выводимых данных */

.loan-calc__out > output::after {
  /* Добавление символа валюты и отступ слева */
  content: "₽";
  margin-left: 5px;
}

/* Стили для последнего блока с результатами */

.loan-calc__out:nth-child(3) {
  /* Убираем границу и увеличиваем отступ снизу */
  border-bottom: none;
  margin-bottom: 30px;
}

/* Стили для названий результатов */

.loan-calc__out span {
  /* Отображение в строку, отступ снизу и жирность */
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 500;
}

/* Стили для выводимых результатов */

.loan-calc__out output {
  /* Размер текста и расстояние между буквами */
  font-size: 25px;
  letter-spacing: 1px;
}

/* Стили для кнопки "Рассчитать" */

.loan-calc__btn button {
  /* Занимает всю доступную ширину, но не более 175px */
  display: block;
  width: 100%;
  max-width: 175px;
  /* Отступы и градиентный фон */
  padding: 15px;
  background: linear-gradient(45deg, #3d9b40, #25bf2a);
  /* Цвет текста */
  color: #fff;
  /* Скругление углов и курсор при наведении */
  border-radius: 10px;
  /* Выравнивание текста по центру */
  text-align: center;
  /* Расстояние между буквами */
  letter-spacing: 1px;
  /* Избегаем выделения текста */
  user-select: none;
  /* Убираем границу */
  border: none;
  /* Размер текста и жирность */
  font-size: 16px;
  font-weight: 500;
}
